<h2>List URL</h2>
<% if(error?.length){ %>
    <div class="col-12 alert alert-danger"><%= error %></div>
<% } %>
<% if(success?.length){ %>
    <div class="col-12 alert alert-success"><%= success %></div>
<% } %>
<table class="table table-bordered">
    <thead>
        <tr>
            <th width="5%">STT</th>
            <th>Short Link</th>
            <th>Original Link</th>
            <th>Views</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach((element, index) => { %>
            <% if(element.User?.id === req.user.id) {%>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= element.shortened_link %></td>
                    <td><%= element.original_link %></td>
                    <td><%= element.views ? element.views : "no views" %></td>
                    <td>
                        <a href="/short-link/edit/<%= element.id %>" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a href="/short-link/delete/<%= element.id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <%}  %>
       
        <%}) %>
    </tbody>
</table>
<a href="/short-link"><button class="btn btn-danger mt-2">Return</button></a>